<!DOCTYPE html>
<html lang="en" class="border-none">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>node-gulp-webpack</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico">

    <link href="/dist/css/index.css" rel="stylesheet">

    <script src="/js/vendor/modernizer-custom.js"></script>
  </head>
  <body>
    <div id="page">
      {{{markup}}}
    </div>

    <script src="/dist/js/build.js"></script>
  </body>
</html>
